*, *::before, *::after {
    box-sizing: border-box;  
    /* ^^easier to size our elements  */
    /* font family setup our diff elements */
    font-family: Times New Roman, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00aaff, #00ff6c);
}
/* wrapping our diff buttons and elements */
.calculator-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* start positioning our buttons */
.calculator-grid > button {
    cursor: pointer;
}