*, *::before, *::after {
    box-sizing: border-box;  
    /* ^^easier to size our elements  */
    /* font family setup our diff elements */
    font-family: Times New Roman, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00aaff, #00ff6c);
}
/* wrapping our diff buttons and elements */
.calculator-grid {
    display: grid;
    justify-content: center;
    /* align-items: center; */
    align-content: center;   
    /* ^^fill out the space  */
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* start positioning our buttons */
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
/* put on hover to buttons to indicate it's activity */
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

/* fix spacing w/ span around buttons of = and AC */
.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
}