*, *::before, *::after {
    box-sizing: border-box;  
    /* ^^easier to size our elements  */
    /* font family setup our diff elements */
    font-family: Times New Roman, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00aaff, #00ff6c);
}
/* wrapping our diff buttons and elements */
.calculator-grid {
    display: grid;
    justify-content: center;
    /* align-items: center; changed to align-content */
    align-content: center;   
    /* ^^fill out the space  */
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* start positioning our buttons */
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
/* put on hover to buttons to indicate it's activity */
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

/* fix spacing w/ span around buttons of = and AC */
.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    /* next align elements inside the container */
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    /* prior was space-between, space-around will push elements towards the center of container and away from the container's edges*/
    /* text elements at bottom side-by-side */
    flex-direction: column;   
    /* ^^help column line up vertically, not horizontally */
    padding: 10px;
    /* word wrap tells app when to break our words at the middle of it */
    word-wrap: break-word;
    word-break: break-all;
    /* break all words in word-break aka numbers won't trail too much on the calc screen*/
}

 .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;  
 }

 .output .current-operand {
    color: white;
    font-size: 2.5rem;
    
 }